.projects-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .projects-container {
        max-width: 900px;
        margin: auto 20px auto 20px;
        display: flex;
        flex-direction: row;

        .section-title {
            // background-color: red;
            text-align: end;
            width: 16rem;
            margin: 0 60px 0 0;
            color: $text-color-special;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .section-content {
            // background-color: blue;
            width: 100%;
        }
    }
}


@media only screen and (max-width: 700px) {
    .projects-main {
    
        .projects-container {
            flex-direction: column;
    
            .section-title {
                text-align: start;
                margin: 0 0 30px 0;
            }
    
            .section-content {

            }
        }
    }
}
