.about-main {
    // background-color: blue;
    width: 100%;
    // min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;

    .about-container {
        // background-color: orange;
        margin: 5% 20px auto 20px;
        max-width: 900px;
        display: flex;
        flex-direction: column;


        .section {
            // background-color: red;
            display: flex;
            flex-direction: row;

            .section-title {
                text-align: end;
                width: 16rem;
                margin: 0 60px 0 0;
                color: $text-color-special;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .section-content {
                width: 100%;

                .background-paragraph{
                    margin-bottom: 30px;
                    font-weight: 300;

                    .text-highlight {
                        color: $text-color-alt;
                        font-weight: 500;
                    }
                }
            }

        }
    }
}


@media only screen and (max-width: 850px) {
    .about-main {

        .about-container {

    
            .section {
                flex-direction: column;

    
                .section-title {
                    text-align: start;
                    margin: 0 0 30px 0;
                }

                .section-content {
                    // margin-left: 10px;
                }


            }
        }
    }
}