.skills-main {
    // background-color: blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;

    .skills-container {
        // background-color: orange;
        margin: 5% 20px auto 20px;
        width: 100%;
        max-width: 900px;
        display: flex;
        flex-direction: column;

        .section {
            // background-color: red;
            display: flex;
            flex-direction: row;

            .section-title {
                text-align: end;
                width: 16rem;
                margin: 0 60px 0 0;
                color: $text-color-special;
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .section-content {
                width: 100%;

                .background-paragraph{
                    margin-bottom: 30px;
                    font-weight: 300;
                }
            }

            .tables {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                ul {
                    list-style: none;

                    li {
                        font-size: 0.9rem;
                        font-weight: 300;
                        margin: 5px 0;
                    }

                    .list-header {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 1rem;
                        color: $text-color-alt;
                    }

                }
            }
        }
    }
}


@media only screen and (max-width: 700px) {
    .skills-main {

        .skills-container {

    
            .section {
                flex-direction: column;

    
                .section-title {
                    text-align: start;
                    margin: 0 0 30px 0;
                }

                .tables {
                    // background-color: red;
                    display: grid;
                    grid-template-columns: repeat(2, minmax(120px, 1fr));
                    justify-content: space-between;
                    align-items: center;
                    margin-left: 10px;
                }

            }
        }
    }
}