.home-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    .home-container {
        margin: 0 20px 0 20px;
        max-width: 1150px;
        width: 100%;

        .intro {
            margin: auto 20px auto 20px;
            // background-color: red;
            font-family: $text-font-alt;
            font-size: 2.5rem;
            font-weight: 400;
        }

        .title {
            font-family: $text-font-alt;
            max-width: 750px;
            font-size: 2.7rem;
            font-weight: 400;
            margin: 7% 20px 7% 20px;

            .text-highlight {
                font-weight: 600;
                color: $text-color-alt;
            }
        }

        i {
            margin: 0 10px 0 15px;
            color: $text-color-special;
        }

        .contact {
            margin: auto 20px auto 20px;
            font-family: $text-font-alt;
            font-size: 1.15rem;
            font-weight: 400;
            // white-space: nowrap;

            .email {
                // color: $text-color-special;
                transition: ease 200ms;
                padding: 5px;
                color: $text-color-alt;

                &:hover {
                    background-color: $text-color-special;
                    color: $bg-color-main;

                }
            }
        }
    }
}




@media only screen and (max-width: 700px) {
    .home-main {
    
        .home-container {
    
            .intro {
                margin: auto 20px auto 20px;
                font-size: 8vw;
            }
    
            .title {
                margin: 20% 20px 20% 20px;
                font-size: 8vw;
            }
    
            i {
                margin: 0;
            }

            .contact .email {
                margin-top: 10px;
                display: block;
                text-align: center;
            }
    

        }
    }
}



