.home-main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    .home-container {
        margin: 0 20px 0 20px;
        max-width: 1150px;
        width: 100%;

        .intro {
            margin: auto 20px auto 20px;
            // background-color: red;
            font-family: var(--text-font-alt);
            font-size: 2.5rem;
            font-weight: 400;
            // animation: hello 3s infinite;

            .hand {
                display: inline-block;
                cursor: pointer;
                // animation: hello ease-in-out 0.25s 3 0.4s;
            }
        }

        .title {
            font-family: var(--text-font-alt);
            max-width: 700px;
            font-size: 2.7rem;
            font-weight: 400;
            margin: 5% 20px 5% 20px;

            .text-highlight {
                font-weight: 600;
                color: var(--text-color-alt);
            }
        }

        i {
            margin: 0 10px 0 15px;
            color: var(--text-color-special);
        }

        .contact {
            margin: auto 20px auto 20px;
            font-family: var(--text-font-alt);
            font-size: 1.15rem;
            font-weight: 400;
            
            .arrow-email {
                transition: ease 200ms;
            }

            &:hover .arrow-email {
                transform: translateX(10px);
            }

            .email {
                // color: $text-color-special;
                transition: ease 200ms;
                padding: 5px;
                // color: $text-color-alt;

                &:hover {
                    background-color: var(--text-color-special);
                    color: var(--text-color-alt);
                }
                
            }
        }
    }
}



@media only screen and (max-width: 850px) {
    .home-main {
    
        .home-container {
    
            .intro {
                margin: auto 20px auto 20px;
                font-size: 8vw;
            }
    
            .title {
                margin: 15% 20px 15% 20px;
                font-size: 8vw;
            }
    
            i {
                margin-left: 10px;
            }

            .contact .email {
                margin-top: 10px;
                display: block;
                text-align: center;
                justify-self: center;
            }
        }
    }
}

@keyframes hello {
    0%, 100% {
        transform: rotate(0deg);
        transform-origin: 100% 100%;
        
    }
    50% {
        transform: rotate(20deg);
        transform-origin: 100% 100%;
    }
}

