.footer-main{
    width: 100%;
    height: 140px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.footer-container {
    font-family: var(--text-font-main);
    color: var(--text-color-main);
    width: 450px;
    height: 100%;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .icons {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        // color: $text-color-alt;
    
        a {
            text-decoration: inherit;
            color: inherit;
            cursor: pointer;
            transition: ease 300ms;
        
            &:hover{
                color: var(--text-color-special);
            }
        }
    }

    h5 {
        margin: 20px 0 0 0;
        font-weight: 300;
        font-size: 0.9rem;
        letter-spacing: 2px;
        word-spacing: 4px;

        span{
            color: var(--text-color-alt);
            font-weight: 500;
            transition: ease 300ms;

            &:hover {
                color: var(--text-color-special);
            }
        }
    }
}

