$text-color-main: #c8d1db;
$text-color-alt: #f0f6fc;
$text-color-alt2: #c8d1db;
$text-color-special: #388bfd;

$text-font-main: 'Source Code Pro', monospace;
$text-font-alt: 'Montserrat', sans-serif;

$bg-color-main: #161b22;
$bg-color-alt: #6e7681;
$bg-color-alt2: #232d3b;

$border-color: #1f477e;
$shadow-color: #444444;
