html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color-main;
  font-family: $text-font-main;
  color: $text-color-main;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

// scroll

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $text-color-alt2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-color-special;
}
