:root {
  --main-bg-color: #f8f7f7e1;
  --alt-bg-color: #ddddddb7;
  --alt2-bg-color: #a8a8a8;

  --main-text-color: back;
  --alt-text-color: grey;
  --alt2-text-color: rgb(173, 173, 173);
  --special-text-color: #64ffda;

  --font-sans: "Calibre", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}


.App {
  background-color: var(--main-bg-color);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}
